{% extends "::external.html.twig" %}

{% block innerBody %}

    {% block header %}
        {{ parent() }}
    {% endblock %}

    {% block content %}
        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="Request access" />
            </div>
        </form>
    {% endblock %}

    {% block footer %}
        {{ parent() }}
    {% endblock %}

{% endblock %}